# このファイルをコピーしてファイル名末尾の.sampleを外す

###############################
###     起動システム設定     ###
###############################

# 起動させるシステムの種類[必須]
#   scraping : データ取得
#   analysis : データ分析 [現在は選択不可]
SCRIPT_TYPE = 'scraping'

# 取得するデータの種類[SCRIPT_TYPE=scraping選択時は必須]
#   race : レースデータ
#   odds : オッズデータ
#   horse : 競走馬データ
DATA_TYPE = 'horse'

# 取得するデータの期間[DATA_TYPE=raceかodds選択時は必須]
#   past : 過去データ
#   now : 現在データ
DATA_TIME = 'past'

# 取得するデータの最古日
#   yyyyMMddフォーマットで記載
OLDEST_DATE = ''

# 取得するデータの最新日
#   yyyyMMddフォーマットで記載
LATEST_DATE = ''

# 取得対象の開催協会
#   1 : 中央 & 地方
#   JRA : 中央
#   NAR : 地方
ASSOSIATION = 'JRA'

# JBIS独自競走馬ID
JBIS_HORSE_ID = ''

###############################
###        出力設定          ###
###############################

# CSV出力
#  1 : 出力有
#  0 : 出力なし
OUTPUT_CSV = ''

# DB出力
#  1 : 出力有
#  0 : 出力なし
OUTPUT_DB = ''

###############################
###        通知設定          ###
###############################

# 起動/エラーログをLINE送信[任意]
#   LINE Notify APIトークンを記載
LINE_TOKEN = ''


